body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFBEB;
  
  margin:0 auto;

  padding:5px;
  max-width:800px;

}

p, .padded-code
{ 
  padding:10px;
}


.border {
  border:1px solid #cccccc;
}


h1, h2 {
  margin-top: 30px;
}
h3
{
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.43;
}
